<p>This is the home page</p>
<div>
    <%= form_for :team do |f| %>
        <%= f.text_field :create_team %>

        <%= f.submit "Create new team" %>
    <% end %>
    <br>
    <%= link_to "Teams", teams_path %><br>
</div>