// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    text-align: center;
}

ul {
    line-height: 1.4;
}

th {
    background: #336B87;
}

tr {
    background: #f3f3f3;
}

tr:nth-child(even) {
    background: #E6F5FF;
}

.teams_container {
    margin: 5px;
    min-width: 550px;
    border-collapse: collapse;
    font-size: 1.3em;
    text-align: left;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}


.teams_container thead tr{
    background-color: lightblue;
    color: white;
    font-weight: bold;
    text-align: left;
}

.teams_container th, .teams_container td {
    padding: 12px 15px;
}

.teams_container tbody tr {
    border-bottom: 1px solid lightgrey;
}

.teams_container tbody tr:last-of-type {
    border-bottom: 2px solid lightgrey;
}

.roster-container {
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-family: Copperplate;    
    height: 350px;
    width:200px;
    padding: 15px;
    text-align: center;
}