// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
    font-family: Copperplate
}

h1 {
    font-family: Copperplate
}

h2 {
    font-family: Copperplate
}